.env
*.pyc
__pycache__/
venv/
.venv/
certificates/
pending_certificates/
media/
celerybeat-schedule
firebase-credentials.json
doc_md/
backup.sql
*.sqlite3
chroma_db/
.codex
aws/
node_modules/
.agent/
.default.con
# nginx/default.conf
nginx/default.conf.bak


# Databases (IMPORTANT)
ai-service/chroma_db/
*.sqlite3


django/.env
ai-service/.env
websocket/.env

# Docker
.docker/

# OS files
.DS_Store
